* {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    // min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #16384c;
}
.container {
    position: relative;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    .card {
        position: relative;
        max-width: 300px;
        height: 215px;
        background: white;
        margin: 30px 10px;
        padding: 20px 15px;
        display: flex;
        flex-direction: column;
        box-shadow: 0 5px 202px rgba(0,0,0,0.5);
        transition: 0.3s ease-in-out;
        &:hover {
            height: 420px;
            .content {
                visibility: visible;
                opacity: 1;
                margin-top: -40px;
                transition-delay: 0.3s;
            }
        }
        .img-box {
            position: relative;
            height: 260px;
            width: 260px;
            left: 20px;
            top: -60px;
            z-index: 1;
            box-shadow: 0 5px 20px rgba(0,0,0,0.2);
            img {
                max-width: 100%;
                border-radius: 5px;
            }
        }
        .content {
            position: relative;
            margin-top: -140px;
            padding: 10px 15px;
            text-align: center;
            color: #111;
            visibility: hidden;
            opacity: 0;
            transition: 0.3s ease-in-out;
        }
    }
}