body {
    min-height: 97vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("bg-image.jpg");
}
.container {
    height: 500px;
    width: 350px;
    background-color: rgba(255,255,255,0.6);
    backdrop-filter: blur(7px);
    position: relative;
}

.box {
    position: absolute;
}