* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    background: #060c21;
    color: whitesmoke;
}

.container {
    position: relative;
    width: 90%;
    // display: grid;
    // grid-template-columns: repeat(auto-fill, minmax(260px, 2fr));
    // grid-gap: 0 40px;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex: auto;

    .box {
        position: relative;
        padding: 1%;
        margin: 2%;
        background: #060c21;
        font-size: 0.9rem;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 300px;

        &:hover {
            .content h2 {
                top: -100px;
            }
            .content a {
                transform: translateY(0);
                opacity: 1;
                visibility: visible;
            }
        }

        &:before {
            content: '';
            position: absolute;
            top: -2px;
            bottom: -2px;
            left: -2px;
            right: -2px;
            background: #fff;
            z-index: -2;
            transform: skew(2deg, 2deg);
        }
    }

    .content {
        position: relative;
         
        h2 {
            position: absolute;
            top: -60px;
            right: 20px;
            margin: 0;
            padding: 0;
            font-size: 10rem;
            color: rgba(255, 255, 255, 0.07);
            transition: 0.5s;
        }

        h3 {
            margin: 0 0 10px;
            padding: 0;
            font-size: 24px;
            font-weight: bolder;
            color: #fff;
        }

        p {
            margin: 0;
            padding: 0;
            color: #fff;
        }

        a {
            position: relative;
            padding: 10px 10px;
            margin-top: 10px;
            text-decoration: none;
            border: 1px solid #fff; 
            display: inline-block;
            color: #fff;
            transition: 0.5s;
            transform: translateY(-40px);
            opacity: 0;
            visibility: hidden;

            &:hover {
                color: #060c21;
                background: #fff;
            }
        }
    }
}
