* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: black;
}

.square {
  position: relative;
  width: 400px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.square span:nth-child(1) {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 2px solid white;
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-animation: animate 6s linear infinite;
          animation: animate 6s linear infinite;
}

.square span:nth-child(2) {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 2px solid white;
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-animation: animate 4s linear infinite;
          animation: animate 4s linear infinite;
}

.square span:nth-child(3) {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 2px solid white;
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-animation: animate2 10s linear infinite;
          animation: animate2 10s linear infinite;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes animate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes animate2 {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0%);
            transform: rotate(0%);
  }
}

@keyframes animate2 {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0%);
            transform: rotate(0%);
  }
}

.square:hover span:nth-child(1) {
  border: none;
  background: rgba(0, 0, 255, 0.8);
}

.square:hover span:nth-child(2) {
  border: none;
  background: rgba(0, 0, 255, 0.8);
}

.square:hover span:nth-child(3) {
  border: none;
  background: rgba(0, 0, 255, 0.8);
}

.square .content {
  position: relative;
  padding: 40px 60px;
  color: #fff;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 1000;
}

.square .content h2 {
  padding: 0 0 20px 0;
  text-decoration: underline;
  font-weight: 900;
}

.square .content a {
  position: relative;
  display: inline-block;
  border: 2px solid white;
  margin-top: 15px;
  padding: 5px 10px;
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.square .content a:hover {
  background: white;
  color: #333;
}
/*# sourceMappingURL=style.css.map */