$primary: rgb(8, 122, 122);
$secondary: #ffffff;

* {
  margin: 0px;
  box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: Calibri, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
    background-color: $primary;
    color: $secondary;
  }