body {
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    background: #f0f0f0;
}

.talkbubble {
    width: 450px;

    .bubble {
        width: 100%;
        position: relative;
        background: rgb(236, 173, 173);
        padding: 0.8rem;
        border-radius: 10px;
        color: #222;
         
        &::after {
            content: "";
            display: block;
            position: absolute;

            top: 14px;
            left: -15px;

            width: 0;
            height: 0;
            border-top: 8px solid transparent;
            border-bottom: 8px solid transparent;
            border-right: 16px solid rgb(236, 173, 173);
        }
    }
}

