$bubble_color : rgb(216, 200, 54);

body {
    min-height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    background-image: linear-gradient(120deg, rgb(30, 30, 133), rgb(156, 40, 40));
}

.talkbubble {
    width: 450px;

    .bubble {
        width: 100%;
        position: relative;
        background: $bubble_color;
        padding: 0.8rem;
        border-radius: 20px;
        color: rgb(51, 50, 50);
         
        &::after {
            content: "";
            display: block;
            position: absolute;
            width: 0;
            height: 0;
            border-top: 8px solid transparent;
            border-bottom: 8px solid transparent;
            border-right: 16px solid $bubble_color;
            top: 14px;
            left: -15px;
        }
    }
}

